<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <h1>{{title}}</h1>
    <img class="portrait" src="/image/hello.jpg">
    <p>Created by {{name}}.This site is created by me.And the data provided by MapBox</p>
    </div>
    
     {{>footer}}
</body>

</html>